.continer{
    margin: 3em 2em;
}
.card{
    margin: 0px 1em !important;    
}
.infected{
    border-bottom: 10px solid rgba(0, 0, 255, .5);
}

.recovered{
    border-bottom: 10px solid rgba(0, 255, 0, .5);
}

.deaths{
    border-bottom: 10px solid rgba(255, 0, 0, .5);
}
@media only screen and (max-width: 770px) {
    .card {
      margin: 1em 0 !important;
    }
  }